---
import Bar from "../../components/Bar.svelte";
const { frontmatter } = Astro.props;

const accent = frontmatter?.color != null ? frontmatter.color : "#d58847";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" charset="utf-8" content={Astro.generator} />
		<title>{frontmatter?.title} (fhungus)</title>
	</head>

	<body>
		<Bar />
        <div class="content-wrapper">
            <div class="content-title">
                <h1> {frontmatter?.title} </h1>
            </div>
            <div class="content-bg bordered">
		        <slot/>
            </div>
        </div>
        <fuckass/>
		<footer>
			You are, still, alive.
		</footer>
	</body>
</html>

<style is:global define:vars={{accent}}>
	@font-face {
		font-family: "GoMono";
		src: url('/fonts/gomono.ttf') format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "GoMono";
		src: url('/fonts/gomono-bold.ttf') format("truetype");
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}
    @font-face {
		font-family: "GoMono";
		src: url('/fonts/gomono-bolditalic.ttf') format("truetype");
		font-weight: bold;
		font-style: italic;
		font-display: swap;
	}

	html,
	body {
		font-family: GoMono, monospace;

		position: relative;

        display: flexbox;
        align-content: center;

		margin: 0;
		width: 100%;
		min-height: 100vh;

		--fg: #FBC6B3;
		--bg: #1A140F;
		--bg2: rgb(39, 31, 28);
		--border: rgb(86, 74, 66);

		background-color: var(--bg);
		color: var(--fg);

		min-height: 100vh;
        z-index: -10;
	}

    body::after {
        content: " ";

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    
        height: 25em;
        z-index: -1;

        background: linear-gradient(0deg, transparent, var(--accent));
        opacity: 50%;
    }

    .content-wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: 70em;
    }

    .content-bg {
        padding: 5em;
        background-color: var(--bg2);

        border-radius: 5px;
    }

    .content-title {
        background-color: var(--accent);
        padding: 0em 2em 0em 2em;

        border-radius: 5px;
        margin-left: 2em;
        margin-bottom: 0.5em;

        display: inline-flex;
    }

    .content-title > h1 {
        color: var(--bg);
        font-weight: bold;
        font-size: 5em;

        display: inline;
    }

	.bordered {
        border-width: 2px;
        border-style: solid;
        border-color: var(--border);
	}

	footer {
        margin-top: 5em;
		position: relative;
		bottom: 0;
		right: 0;
		left: 0;

		background-color: rgb(19, 12, 11);
		padding: 1em 2em 5em 2em;
	}

    footer::after {
        content: " ";

        position: absolute;
		top: 0;
		right: 0;
		left: 0;
        
        height: 1em;

        background: linear-gradient(0deg, transparent, var(--bg));
    }
</style>
