---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Hero from "../components/Hero.astro";
import Affirmations from "../components/affirmations/affirmations.svelte";
---

<Layout>
	<Hero />

	<div class="twocolumn">
		<div class="long">
			<Affirmations client:only="svelte" />
		</div>
		<div class="short">
			<About />
		</div>
	</div>
</Layout>

<style>
	.header {
		padding: 5em;
	}

	.twocolumn {
		padding-top: 3em;
		position: relative;
		left: 0;
		right: 0;

		gap: 1em;

		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	.short {
		width: 34em
	}
	.long {
		width: 26em;
	}
</style>
