---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro'
---

<Layout>
	<div class="header">
		<h1>🍄 the fhungus</h1>
		INTERDISCIPLINARY AMATEURIST, FULL-SCALE 10 DECIMAL PRECISION FART SMELLA.
	</div>

	<div class="about-wrapper">
		<About/>
	</div>
</Layout>

<style>
	.header {
		padding: 5em;
	}

	.about-wrapper {
		position: relative;
		left: 0;
		right: 0;

		display:flex;
		justify-content: center;
	}
</style>
