---
import { ACTION_ERROR_CODES } from "astro:actions";
---

<div class="about">
    <div class="about-title">
        <img src="/images/fungus.png" class="about-icon">

        About
    </div>
    <div class="shiny"/>
    <div class="about-contents">
        Hey! <br/>
        I like screwing around with technical doohickeys of various varieties.<br/>
        I try to do something along the lines of <div class="highlight">"software engineering"</div>, and I also draw (a little bit)!<br/>
        I am often somewhat dumb and ambitious.<br/>
        <br/><br/>
        (if you couldn't already tell this site is a massive work in progress 😭😭😭)
    </div>
</div>

<style>
    .about {
        width: 100%;

        position: relative;

        border-color: var(--border);
        border-width: 2px;
        border-style: solid;
        border-radius: 7px;

        background-color: var(--bg2)
    }

    .about-title {
        position:absolute;

        background-color: #59372A;

        border: 0;
        border-right: 2px;
        border-bottom: 2px;
        border-color: var(--border);
        border-style: solid;
        border-radius: 6px 0 7px 0;

        padding: .5em;
        height: 2em;

        padding-right: 1em;

        display: flex;
        align-items: center;
    }

    .shiny {
        position: absolute;
        top: 0;
        right: 0;

        width: 15em;
        height: 5em;

        content: " ";
        background: radial-gradient(100% 100% at top right, #D8936E55 0%, rgba(0,0,0,0)100%);
    }

    .about-title > .about-icon {
        user-select: none;
        text-align: center;
        width: 4.5em;
        margin-top: -.1em;
    }

    .about-contents {
        padding: 2em;
        padding-top: 4em;
    }

    .highlight {
        display: inline-block;
        padding: 0.25em;
        padding-left: .5em;
        padding-right: .5em;
        background-color: #20488866;
        color: #9098a4;
        border-color: #9098a466;

        font-weight: bold;

        border-style: solid;
        border-width: 2px;

        border-radius: 5px;
    }
</style>

