<div class="about">
    <div class="about-title">
        <div class="about-icon">
            ?
        </div>

        ABOUT
    </div>
    <ul class="about-list">
        <li>Hello. I am a <i>16 year old</i> living in some part of Ireland.</li>
        <li>I spend some of my time on an amalgam of interests around computing and design, but I aim to spend most of my time developing software (for now).</li>
    </ul>
</div>

<style>
    .about {
        max-width: 50em;

        border-color: rgb(28, 31, 28);
        border-width: 2px;
        border-style: solid;
    }

    .about-title {
        background-color: rgb(28, 31, 28);
        display: flex;
        align-items: center;
    }

    .about-title > .about-icon {
        user-select: none;
        background-color: honeydew;
        color: rgb(28, 31, 28);
        width: 1.2em;
        text-align: center;
        margin: 0.2em;
        margin-right: 0.5em;
    }

    .about-p {
        padding: 1em;
    }

    .about-p > ul {
        1
    }
</style>

