<div class="about">
    <div class="about-title">
        <img src="/images/fungus.png" class="about-icon">

        About
    </div>
    <div class="shiny"/>
    <ul class="about-list">
        <li>
            Hello. I am a <i>16 year old</i> living in the east of Ireland.
        </li>
        <li>
            I generally really enjoy working on things within the intersection of computing and aesthetics.
        </li>
    </ul>
</div>

<style>
    .about {
        max-width: 36em;

        position: relative;

        border-color: var(--border);
        border-width: 2px;
        border-style: solid;
        border-radius: 7px;

        background-color: var(--bg2)
    }

    .about-title {
        position:absolute;

        background-color: #59372A;

        border: 0;
        border-right: 2px;
        border-bottom: 2px;
        border-color: var(--border);
        border-style: solid;
        border-radius: 6px 0 7px 0;

        padding: .5em;
        height: 2em;

        padding-right: 1em;

        display: flex;
        align-items: center;
    }

    .shiny {
        position: absolute;
        top: 0;
        right: 0;

        width: 15em;
        height: 5em;

        content: " ";
        background: radial-gradient(100% 100% at top right, #D8936E55 0%, rgba(0,0,0,0)100%);
    }

    .about-title > .about-icon {
        user-select: none;
        text-align: center;
        width: 4.5em;
        margin-top: -.1em;
    }

    .about-list {
        padding-top: 3em;
        padding-right: 2em;
    }
</style>

