<div class="bar">
    <div class="bartextlink bigboy">fhungus</div>
    yuh!
</div>

<style>
    .bar {
        position: fixed;
        right: 1em;
        left: 1em;
        bottom: 1em;
        background-color: honeydew;
        color: rgb(33, 33, 33);

        border-radius: 5px;
        align-items: center;

        min-height: 3em;

        z-index: 50;
        padding-left: 1em;

        display: flex;
    }

    .bartextlink {
    }

    .bigboy {
        background-color: honeydew;
        width: 5em;
        margin-top: -1em;
        margin-bottom: -1em;
        font-size:2em;
    }
</style>