---
import Rain from './rain/Rain.svelte'
---

<div class="header-outer">
    <div class="header">
        <h1 class="header-title">fhungus</h1>
        <Rain client:only="svelte"/>
    </div>
    <div class="outer-image">
        <img class="guh" src="/images/franklins-journey.png"/>
    </div>
</div>

<style>
    .header-outer {
        display: flex;
        justify-content: stretch;

        position: relative;
        left: 0;
        right: 0;
    }


    .header {
        background: radial-gradient(200% 100% at bottom right,rgb(238, 130, 6) 0%, rgb(255, 199, 80) 50%, rgb(115, 223, 192)100%);

        z-index: 2;

        border-radius: 0 0 1em 0;
        border-width: 2px;
        border-top: 0;
        border-style: solid;
        border-color: var(--border);

        width: 67vw;
        height: 30em;

        padding: 1em;

        position: relative;

        display: flexbox;
        flex-direction: column;
        text-align: end;
        align-content: end;
    }	

    .header h1 {
        mix-blend-mode: color-dodge;
        color: #5cb396;

        margin-right: 0.2em;

        font-size: 10em;
        font-weight: 500;
    }

    @media (width <= 80rem) {
        .header {
            width: 100vw;
            border-radius: 0vw;
            text-align: start;
        }
        .outer-image {
            z-index: 2;
            position: absolute;
        }
    }
    
    .outer-image {
        position: relative;
        flex: auto;
    }

    .guh {
        height:100%;
        right: 0;
        position: absolute;
    }

    .header-title {
        font-size: 5em;
        line-height: 0em;
    }
</style>
