---
import Rain from './rain/Rain.svelte'
---

<div class="header-outer">
    <div class="header">
        <h1 class="header-title">fhungus</h1>
        <Rain client:only="svelte"/>
    </div>
</div>

<style>
    .header-outer {
        display: flex;
        justify-content: center;

        position: relative;
        left: 0;
        right: 0;
    }


    .header {
        background: radial-gradient(125% 100% at bottom,rgb(209, 178, 120) 0%, rgb(161, 132, 101) 50%, rgb(106, 89, 89)100%);

        z-index: 2;

        border-radius: 0 0 1em 1em;
        border-width: 2px;
        border-top: 0;
        border-style: solid;
        border-color: var(--border);

        width: 67vw;
        height: 21em;

        padding: 1em;

        position: relative;

        display: flexbox;
        flex-direction: column;
        text-align: center;

        align-content: center;
    }	
    
    @media (width <= 64rem) {
        .header {
            width: 100vw;
            border-radius: 0vw;
        }
    }

    .header-title {
        font-size: 5em;
        line-height: 0em;
    }
</style>
