---
import Rain from './rain/Rain.svelte'
---

<div class="header-outer">
    <div class="header">
        <h1 class="header-title">fhungus</h1>
        <Rain client:only="svelte"/>
    </div>
</div>

<style>
    .header-outer {
        display: flex;
        justify-content: center;

        position: relative;
        left: 0;
        right: 0;
    }

    .header {
        background: linear-gradient(180deg,rgb(179, 208, 211) 0%, rgb(130, 156, 153) 40%, rgb(130, 140, 114)100%);

        border-radius: 0 0 1em 1em;
        border-width: 2px;
        border-top: 0;
        border-style: solid;
        border-color: #AAAAAA55;

        width: 67vw;
        height: 21em;

        padding: 1em;

        position: relative;

        display: flexbox;
        flex-direction: column;
        text-align: center;

        align-content: center;
    }

    .header-title {
        font-size: 5em;
        line-height: 0em;
    }
</style>
