---
import Bar from "../components/Bar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>FHUNGUS IS HERE.</title>
	</head>

	<body>
		<Bar />
		<slot />
		<footer>
			You are browsing the Fhungus-related Unifying Classificatory Knowledge System, an autobiographical repository of fhungus-related description and output.
			Rights unreserved.
		</footer>
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "GoMono";
		src: url('/fonts/gomono.ttf') format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	html,
	body {
		font-family: GoMono, monospace;

		position: relative;

		margin: 0;
		width: 100%;
		height: 100%;

		--fg: honeydew;
		--bg: rgb(21, 16, 18);
		--bg2: rgb(39, 31, 28);
		--border: rgb(86, 74, 66);

		background-color: var(--bg);
		color: var(--fg);

		min-height: 100vh;
	}

	.bordered {
        border-width: 2px;
        border-top: 0;
        border-style: solid;
        border-color: var(--bg2);
	}

	footer {
		position: relative;
		bottom: 0;
		right: 0;
		left: 0;

		background-color: rgb(28, 31, 28);
		padding: 1em;
		padding-bottom: 5em;
	}
</style>
